#input, #input:hover, #input:focus {
	-webkit-appearance:none;
	border:1px solid #adc5cf;
	border-right-width: 0;
	padding:6px 5px 6px 30px;
	outline: none;
	margin-right: -2px;
	font: normal 16px/1.3 "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
#search{
	padding:6px 15px 6px 15px;
	border:1px solid #adc5cf;
	border-left-width: 0;
	margin-left: -2px;
	font: normal 16px/1.3 "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	background: buttonface url("img/glyphicons_027_search.png") no-repeat center;
}
